.calendar {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.calendar .header .month-year {
    font-size: 20px;
    font-weight: bold;
    color: #636e73;
    padding: 0px 0;
}
.calendar .days {
    display: flex;
    flex-flow: wrap;
}
.calendar .days .day_name {
    width: calc(100% / 7);
    border-right: 1px solid #2c7aca;
    padding: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #818589;
    color: #fff;
    background-color: #448cd6;
}
.calendar .days .day_name:nth-child(7) {
    border: none;
}
.calendar .days .day_num {
    display: flex;
    flex-flow: column;
    width: calc(100% / 7);
    border-right: 1px solid #e6e9ea;
    border-bottom: 1px solid #e6e9ea;
    padding: 5px;
    font-weight: bold;
    color: #7c878d;
    min-height: 100px;
}
.calendar .days .day_num span {
    display: inline-flex;
    width: 30px;
    font-size: 14px;
}
.calendar .days .day_num .event {
    margin-top: 7px;
    font-weight: 500;
    font-size: 12px;
    padding: 5px 3px 5px;
    border-radius: 4px;
    background-color: #f7c30d;
    color: #fff;
    word-wrap: break-word;
}
.calendar .days .day_num .event.green {
    background-color: #51ce57;
}
.calendar .days .day_num .event.blue {
    background-color: #518fce;
}
.calendar .days .day_num .event.white {
    background-color: #ffffff;
}
.calendar .days .day_num .event.orange {
    background-color: #F5D0A9;
}
.calendar .days .day_num .event.red {
    background-color: #ce5151;
}
.calendar .days .day_num:nth-child(7n+1) {
    border-left: 1px solid #e6e9ea;
}
.calendar .days .day_num:hover {
    background-color: #FBF8EF;
}
.calendar .days .day_num.ignore {
    background-color: #fdfdfd;
    color: #ced2d4;
    cursor: inherit;
}
.calendar .days .day_num.selected {
    background-color: #f1f2f3;
    cursor: inherit;
}

a.id1:link {color:#ffffff;}      /* unvisited link */
a.id1:visited {color:#ffffff;}  /* visited link */
a.id1:hover {color:#ffffff;}  /* mouse over link */
a.id1:active {color:#ffffff;}  /* selected link */
a.id1 {text-decoration: none}
a.id1 {font-family:Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; color: #ffffff;}

a.id2:link {color:#FAAC58;}      /* unvisited link */
a.id2:visited {color:#FAAC58;}  /* visited link */
a.id2:hover {color:#FAAC58;}  /* mouse over link */
a.id2:active {color:#FAAC58;}  /* selected link */
a.id2 {text-decoration: none}
a.id2 {font-family:Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; color: #FAAC58;}

/* id3 is for charts - reports */
a.id3:link {color:#FAAC58;}      /* unvisited link */
a.id3:visited {color:#FAAC58;}  /* visited link */
a.id3:hover {color:#FAAC58;}  /* mouse over link */
a.id3:active {color:#FAAC58;}  /* selected link */
a.id3 {text-decoration: none}
a.id3 {font-family:Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; color: #FAAC58;}

/* id4 is blue for google charts */
a.id4:link {color:#337ab7;}      /* unvisited link */
a.id4:visited {color:#337ab7;}  /* visited link */
a.id4:hover {color:#337ab7;}  /* mouse over link */
a.id4:active {color:#337ab7;}  /* selected link */
a.id4 {text-decoration: none}
a.id4 {font-family:Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; line-height: normal; font-variant: normal; color: #337ab7;}

#mtorange {
background-color: #FAAC58;
} 
